# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [ ]:
import numpy as np

2. Create a null vector of size 10

In [ ]:
np.array(range(10))

3. Create a vector with values ranging from 10 to 49

In [ ]:
r = np.array(range(10,50))
r

4. Find the shape of previous array in question 3

In [ ]:
#np.shape(r)
r.shape

5. Print the type of the previous array in question 3

In [ ]:
type(r)

6. Print the numpy version and the configuration

In [ ]:
np.__version__,np.show_config()

7. Print the dimension of the array in question 3

In [ ]:
#r.ndim
np.ndim(r)

8. Create a boolean array with all the True values

In [ ]:
boo = np.full(10,1,dtype = "bool")
boo

9. Create a two dimensional array

In [ ]:
two_d = np.array([[1,2],[4,5]])

10. Create a three dimensional array

In [ ]:
three_d = np.array([
    [[20,40,60]],
    [[90,50,8]]
])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [ ]:
vec = np.array([[1,2,3],[4,5,6]])
revers = np.flip(vec,axis = 1)

12. Create a null vector of size 10 but the fifth value which is 1

In [ ]:
g = np.zeros(10,dtype = "i")
g[4] = 1
g

13. Create a 3x3 identity matrix

In [ ]:
dgonal = np.eye(3,dtype = "i")

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [ ]:
change_dtype = boo.astype("f")

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


#Multiply arr1 with arr2

In [ ]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
mply = np.multiply(arr1,arr2)

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [ ]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
compare = arr1>arr2
compare

17. Extract all odd numbers from arr with values(0-9)

In [ ]:
arr = np.arange(10)
odd = arr[arr%2 !=0]
odd

18. Replace all odd numbers to -1 from previous array

In [ ]:
arr[arr%2 == 1] = -1
arr

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [ ]:
arr = np.arange(10)

20. Create a 2d array with 1 on the border and 0 inside

In [ ]:
d2 = np.array([[0,0,0],[0,0,0],[0,0,0]])
d2[:,0] = 1
d2[:,-1] = 1
d2

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [ ]:
arr2d = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
arr2d[1,1] = 12

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [ ]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0,0] = 64
arr3d

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [ ]:
d2_3 = np.array([[1,2,3],[4,5,6]])
first_1d = d2_3[0]
first_1d

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd 1-D array from it

In [ ]:
di2= np.arange(10).reshape(2,5)
di2[1]

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [ ]:
two_rows = np.arange(25).reshape(5,5)
print(two_rows)
two_rows[0:2,2:3]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [ ]:
r = np.random.random((10,10))
np.amin(r),np.amax(r)
#np.shape(r)

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [ ]:
#from functools import reduce
a = np.array([1,2,3,2,3,4,3,4,5,6]); b = np.array([7,2,10,2,7,4,9,4,9,8]);c = np.array([2,2,2,4,4,4,6])
#common = reduce(np.intersect1d,(a,b,c))
common = np.intersect1d(a,b)
common

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [ ]:
a = np.array([1,2,3,2,3,4,3,4,5,6]); b = np.array([7,2,10,2,7,4,9,4,9,8])
matched = np.where(a==b)
print(list(matched))

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
a = data[names != "Will"]
np.size(data),np.size(a)

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [ ]:
b = data[(names != "Joe") & (names != "Will")]
b

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [ ]:
d = np.arange(1,16,dtype = "f").reshape(5,3)
d

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [ ]:
d_s = np.arange(1,17,dtype = "f").reshape(2,2,4)
d_s

33. Swap axes of the array you created in Question 32

In [ ]:
d_s = np.arange(1,17,dtype = "f").reshape(2,4,2)
d_s

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [ ]:
size_10 = np.arange(1,11)
sq = np.sqrt(size_10)
sq = np.where(sq<0.5,0,0)
sq

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [ ]:
first_a = np.random.rand(12)
second_b = np.random.rand(12)
maxi = np.maximum(first_a,second_b)
maxi

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
uni = sorted(set(names))
uni

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [ ]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
diff = np.setdiff1d(a,b)
diff

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [ ]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
sampleArray= np.delete(sampleArray,1,1)
newColumn = np.array([[10,10,10]])
sampleArray = np.insert(sampleArray,1,newColumn, 1)
sampleArray

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [ ]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
dot = x.dot(y) 
#dot = np.dot(x,y)
dot

40. Generate a matrix of 20 random values and find its cumulative sum

In [ ]:
upto20 = np.random.rand(20)
cum_sum = np.cumsum(upto20)
cum_sum